img{
    width: 100px;
    height: 80px;
}

body{
    height:100%;
    widows: 98%;
}

#navigation{
    display: flex;
    justify-content:center;

}

.btn{
    font-size: 25px;
    color: black;
    background-color: white;
    margin-right: 5px;
}

#result1{
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    border: 1px solid green;
}